<web-app>
    <display-name>ExternalTest001</display-name>

    <servlet>
        <servlet-name>urlGetServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlGetServlet</servlet-name>
        <url-pattern>/urlGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>urlPostServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlPostServlet</servlet-name>
        <url-pattern>/urlPost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.test.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WriteToFileServlet</servlet-name>
        <servlet-class>com.test.WriteToFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteToFileServlet</servlet-name>
        <url-pattern>/writeToFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.test.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlUploadServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlUploadServlet</servlet-name>
        <url-pattern>/urlUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlDownloadServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlDownloadServlet</servlet-name>
        <url-pattern>/urlDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>com.test.ParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlParamServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlParamServlet</servlet-name>
        <url-pattern>/urlParam</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError901Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error901Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError901Servlet</servlet-name>
        <url-pattern>/urlerr901</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError902Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error902Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError902Servlet</servlet-name>
        <url-pattern>/urlerr902</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UrlError900Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error900Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError900Servlet</servlet-name>
        <url-pattern>/urlerr900</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError903Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error903Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError903Servlet</servlet-name>
        <url-pattern>/urlerr903</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError908Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error908Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError908Servlet</servlet-name>
        <url-pattern>/urlerr908</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError404Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError404Servlet</servlet-name>
        <url-pattern>/urlerr404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UrlError500Servlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.Error500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlError500Servlet</servlet-name>
        <url-pattern>/urlerr500</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error500Servlet</servlet-name>
        <servlet-class>com.test.error.Error500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error500Servlet</servlet-name>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartHttpServerServlet</servlet-name>
        <servlet-class>com.test.SimpleHttpServerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartHttpServerServlet</servlet-name>
        <url-pattern>/httpserver</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MultipleUrlErrorServlet</servlet-name>
        <servlet-class>com.UrlTest.UrlExternalError.MultipleUrlErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultipleUrlErrorServlet</servlet-name>
        <url-pattern>/urlerrmult</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommonHttpGetServlet</servlet-name>
        <servlet-class>com.commonhttp.CommonHttpGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonHttpGetServlet</servlet-name>
        <url-pattern>/commonshttpGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommonHttpPostServlet</servlet-name>
        <servlet-class>com.commonhttp.CommonHttpPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonHttpPostServlet</servlet-name>
        <url-pattern>/commonshttpPost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommonHttpParamServlet</servlet-name>
        <servlet-class>com.commonhttp.CommonHttpParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonHttpParamServlet</servlet-name>
        <url-pattern>/commonshttpParam</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommonHttpDownloadServlet</servlet-name>
        <servlet-class>com.commonhttp.CommonHttpDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonHttpDownloadServlet</servlet-name>
        <url-pattern>/commonshttpDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommonHttpUploadServlet</servlet-name>
        <servlet-class>com.commonhttp.CommonHttpUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonHttpUploadServlet</servlet-name>
        <url-pattern>/commonshttpUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError901Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error901Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError901Servlet</servlet-name>
        <url-pattern>/commonshttperr901</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError902Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error902Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError902Servlet</servlet-name>
        <url-pattern>/commonshttperr902</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError903Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error903Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError903Servlet</servlet-name>
        <url-pattern>/commonshttperr903</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError904Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error904Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError904Servlet</servlet-name>
        <url-pattern>/commonshttperr904</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError908Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error908Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError908Servlet</servlet-name>
        <url-pattern>/commonshttperr908</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError500Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError500Servlet</servlet-name>
        <url-pattern>/commonshttperr500</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommhttpError404Servlet</servlet-name>
        <servlet-class>com.commonhttp.CommhttpExternalError.Error404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommhttpError404Servlet</servlet-name>
        <url-pattern>/commonshttperr404</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpClientGetServlet</servlet-name>
        <servlet-class>com.httpclient.HttpClientGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpClientGetServlet</servlet-name>
        <url-pattern>/httpclientGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpClientPostServlet</servlet-name>
        <servlet-class>com.httpclient.HttpClientPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpClientPostServlet</servlet-name>
        <url-pattern>/httpclientPost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpClientParamServlet</servlet-name>
        <servlet-class>com.httpclient.HttpClientParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpClientParamServlet</servlet-name>
        <url-pattern>/httpclientParam</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpClientDownloadServlet</servlet-name>
        <servlet-class>com.httpclient.HttpClientDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpClientDownloadServlet</servlet-name>
        <url-pattern>/httpclientDownload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpClientUploadServlet</servlet-name>
        <servlet-class>com.httpclient.HttpClientUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpClientUploadServlet</servlet-name>
        <url-pattern>/httpclientUpload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpclientError901Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error901Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError901Servlet</servlet-name>
        <url-pattern>/httpclienterr901</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpclientError902Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error902Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError902Servlet</servlet-name>
        <url-pattern>/httpclienterr902</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpclientError903Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error903Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError903Servlet</servlet-name>
        <url-pattern>/httpclienterr903</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpclientError904Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error904Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError904Servlet</servlet-name>
        <url-pattern>/httpclienterr904</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpclientError908Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error908Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError908Servlet</servlet-name>
        <url-pattern>/httpclienterr908</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpclientError500Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError500Servlet</servlet-name>
        <url-pattern>/httpclienterr500</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpclientError404Servlet</servlet-name>
        <servlet-class>com.httpclient.HttpclientExternalError.Error404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpclientError404Servlet</servlet-name>
        <url-pattern>/httpclienterr404</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UrlTest</servlet-name>
        <servlet-class>com.UrlTest.UrlTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UrlTest</servlet-name>
        <url-pattern>/urlTest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AsyncHttpClientGetServlet</servlet-name>
        <servlet-class>com.ning.asynchttpclient.AsyncHttpClientGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncHttpClientGetServlet</servlet-name>
        <url-pattern>/asynchttpGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AsyncHttpClientPostServlet</servlet-name>
        <servlet-class>com.ning.asynchttpclient.AsyncHttpClientPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncHttpClientPostServlet</servlet-name>
        <url-pattern>/asynchttpPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QGetServlet</servlet-name>
        <servlet-class>com.test.quantile.QGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QGetServlet</servlet-name>
        <url-pattern>/qGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QGetServlet2</servlet-name>
        <servlet-class>com.test.quantile.QGetServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QGetServlet2</servlet-name>
        <url-pattern>/qGet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestQServlet</servlet-name>
        <servlet-class>com.test.quantile.TestQServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestQServlet</servlet-name>
        <url-pattern>/testq</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestQServlet2</servlet-name>
        <servlet-class>com.test.quantile.TestQServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestQServlet2</servlet-name>
        <url-pattern>/testq2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QServlet</servlet-name>
        <servlet-class>com.test.quantile.QServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QServlet</servlet-name>
        <url-pattern>/q</url-pattern>
    </servlet-mapping>


    <!--play-->
    <servlet>
        <servlet-name>play</servlet-name>
        <servlet-class>com.play.PlayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>


    <!--测试httpClient4空指针异常-->
    <servlet>
        <servlet-name>playPost</servlet-name>
        <servlet-class>com.httpclient.HttoClientPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>playPost</servlet-name>
        <url-pattern>/post_test</url-pattern>
    </servlet-mapping>


    <!--验证无flush的跨应用-->
    <servlet>
        <servlet-name>flush_printwriter</servlet-name>
        <servlet-class>com.test.NoFlushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>flush_printwriter</servlet-name>
        <url-pattern>/no_flush</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>test_no_flush</servlet-name>
        <servlet-class>com.httpclient.HttpClientGetServletNoFlush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test_no_flush</servlet-name>
        <url-pattern>/test_no_flush</url-pattern>
    </servlet-mapping>

    <!--验证有flush的跨应用-->
    <servlet>
        <servlet-name>flush_print</servlet-name>
        <servlet-class>com.test.FlushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>flush_print</servlet-name>
        <url-pattern>/flush</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>test_flush</servlet-name>
        <servlet-class>com.httpclient.HttpClientGetServletFlush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test_flush</servlet-name>
        <url-pattern>/test_flush</url-pattern>
    </servlet-mapping>


    <!--jsp頁面-->
    <servlet>
        <servlet-name>jsp_test</servlet-name>
        <servlet-class>com.test.JspServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp_test</servlet-name>
        <url-pattern>/jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>test_jsp_testh</servlet-name>
        <servlet-class>com.httpclient.HttpClientGetServletJsp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test_jsp_testh</servlet-name>
        <url-pattern>/test_jsp</url-pattern>
    </servlet-mapping>


    <!--urlConnection-->
    <servlet>
        <servlet-name>url_jsp_testh</servlet-name>
        <servlet-class>com.UrlTest.UrlGetServletJsp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>url_jsp_testh</servlet-name>
        <url-pattern>/url_jsp</url-pattern>
    </servlet-mapping>

    <!--urlConnection-->
    <servlet>
        <servlet-name>url_flush_testh</servlet-name>
        <servlet-class>com.UrlTest.UrlGetServletFlush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>url_flush_testh</servlet-name>
        <url-pattern>/url_flush</url-pattern>
    </servlet-mapping>

    <!--urlConnection-->
    <servlet>
        <servlet-name>url_no_flush_testh</servlet-name>
        <servlet-class>com.UrlTest.UrlGetServletNoFlush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>url_no_flush_testh</servlet-name>
        <url-pattern>/url_no_flush</url-pattern>
    </servlet-mapping>


    <!--https-->
    <servlet>
        <servlet-name>url_no_flush_https</servlet-name>
        <servlet-class>com.UrlTest.UrlGetServletNoFlush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>url_no_flush_https</servlet-name>
        <url-pattern>/url_no_flush/merpayservice.9fbank.com/quickPay/normal/payConfirm/HttpURLConnection</url-pattern>
    </servlet-mapping>


    <!--https调用-->
    <servlet>
        <servlet-name>httpstest</servlet-name>
        <servlet-class>com.https.HttpsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpstest</servlet-name>
        <url-pattern>/https_test</url-pattern>
    </servlet-mapping>

    <!--https的调用-->
    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>SSL</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->


    <!--配置多次访问-->
    <servlet>
        <servlet-name>helloeveryone</servlet-name>
        <servlet-class>com.testHttps.HelloServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloeveryone</servlet-name>
        <url-pattern>/hello/https/test2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>helloeveryone1</servlet-name>
        <servlet-class>com.testHttps.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloeveryone1</servlet-name>
        <url-pattern>/hello/https/test1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletHelloTest</servlet-name>
        <servlet-class>com.testHttps.HttpsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletHelloTest</servlet-name>
        <url-pattern>/hello/https/servlet/hello</url-pattern>
    </servlet-mapping>


    <!--okHttpClient-->
    <servlet>
        <servlet-name>okHttpGet</servlet-name>
        <servlet-class>com.okhttpclient.OkHttpClientGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>okHttpGet</servlet-name>
        <url-pattern>/okHttp/get</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>okHttpPost</servlet-name>
        <servlet-class>com.okhttpclient.OkHttpClientPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>okHttpPost</servlet-name>
        <url-pattern>/okHttp/post</url-pattern>
    </servlet-mapping>
</web-app>

